<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Burp Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <script>
      window.location.assign("https://www.youtube.com/watch?v=dQw4w9WgXcQ");
    </script>
  </head>

  <body>
    <div class="jumbotron text-center">
      <h1 class="display-1">Burp Example</h1>
    </div>
    <div class="content">
      <div>
        <p>%62%30%63%74%66%7b%62%75%72%70%5f%72%6f%63%6b%73%21%7d</p>
      </div>
    </div>
  </body>
</html>
