<!DOCTYPE html>
<html lang="en">
<head>
  <title>PUT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body>
  <div class="jumbotron text-center">
    <h1 class="display-1">PUT successful</h1>
  </div>

  <div class="container">
    <div class="row">
      <h2 id="flag">Flag pt 4 of 6: 'ting_r'</h2>
    </div>
  </div>
</body>
</html>
